* {
    padding: 0px;
    margin: 0px;
}
body {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to left, #7f8c8d, #34495e);
}
/* ul {
    list-style: none;
    text-decoration: none;
}
div {
    position: absolute;
    float: left;
}

a {
    color: gray;
    font-size: 20px;
    font-family: sans-serif;
    text-decoration: none;
    display: flex;
    justify-content: center;
}


.header {
    clear: both;
    background-color: #fff;
    width: 100%;
    border-bottom: solid 1px grey;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, .4);
    position: fixed;
    z-index: 999;
    overflow: hidden;
}
.header .logo_img {
    clear: both;
    display: block;
    float: left;
    /* background: #c8bbbb; 
    width: 100px;
    height: 100px;
    margin-left: 10px;
}
.position_link {
    clear: both;
    float: left;
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 10px;
}
.nav {
    width: 900px;
    margin-left: 150px;
}
.nav ul>li {
    float: left;
    list-style: none;
    display: inline-block;
    width: 180px;
    line-height: 100px;
    padding: 0px;
}
.nav ul>li:hover {
    background: rgba(0, 0, 0, 0.5);
}
.nav a {
    color: gray;
    font-size: 28px;
    font-family: sans-serif;
    text-decoration: none;
    display: flex;
    justify-content: center;
}
.nav a:hover {
    color: #fff;
}
.search {
    width: 580px;
    height: 100px;
    margin-left: 1130px;
}
.search .search_box {
    width: 400px;
    height: 60px;
    padding: 5px;
    position: relative;
    left: 130px;
    top: 15px;
    border: solid 1px #000;
    border-radius: 35px;
    font-size: 18px;
}
.login {
    width: 280px;
    height: 100px;
    margin-left: 2250px;
    margin-top: 40px;
}
.login a {
    color: red;
}
.login a:hover {
    transition: .6s;
    color: blue;
} */



.bk_box{
    max-width: 1300px;
    column-count: 5;
    column-gap: 10px;
}

.image{
    margin-bottom: 10px;
}
.image img{
    width: 100%;
}
@media (max-width: 1200px){
    .bkbox{
        column-count: 4;
    }
}
@media (max-width: 800px) {
    .bkbox {
        column-count: 3;
    }
}
@media (max-width: 600px) {
    .bkbox {
        column-count: 2;
    }
}
